<div class="card-main">
  <ng-container>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <mat-card class="card-form">

        <mat-form-field class="form-field">
          <input type="text" placeholder="Username" aria-label="usernameInput" matInput formControlName="username">
        </mat-form-field>

        <mat-form-field class="form-field">
          <input type="password" placeholder="Password" aria-label="passwordInput" matInput formControlName="password">
        </mat-form-field>

        <mat-card-actions class="log-in-button">
          <button type="submit" mat-raised-button color="warn">Login</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </ng-container>
</div>
