<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="col-11">Oefen-Project</span>
      <button class="col-1"
        type="button"
        aria-label="UserInterface"
        mat-icon-button>
        <span>user</span>
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon>
      </button>
    </mat-toolbar>
    <!--Content here-->
    <div class="row justify-content-center">
      <app-login class="col-sm-5 col-md-4 col-lg-3" style="margin-top: 15%"></app-login>
    </div>
    <!--Content here-->
  </mat-sidenav-content>
</mat-sidenav-container>


